<section class="bg-light py-2">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <h3 class="text-center">View user</h3>
        <a routerLink="/user/list">All Users</a>
      </div>
      <div class="col-lg-12 mb-0">
        <div class="card card-style1 border-0">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar7.png"
                  alt="..."
                />
              </div>
              <div class="col-lg-6 px-xl-10">
                <div class="">
                  <h3 class="h2 text-white mb-0">
                    {{ user?.name }}
                    <ng-container *ngIf="user?.username">
                      ({{ user.username }})
                    </ng-container>
                  </h3>
                  <span class="text-primary">{{ user.company?.name }}</span>
                </div>
                <ul class="list-unstyled mb-1-9">
                  <ng-container *ngIf="user?.email">
                    <li class="mb-2 display-28">
                      <span
                        class="display-26 text-secondary me-2 font-weight-600"
                        >Email:</span
                      >
                      <a class="gradient" [href]="'mailto:' + user.email">{{
                        user.email
                      }}</a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="user?.website">
                    <li class="mb-2 display-28">
                      <span
                        class="display-26 text-secondary me-2 font-weight-600"
                        >Website:</span
                      >
                      <a class="gradient" [href]="user.website">{{
                        user.website
                      }}</a>
                    </li>
                  </ng-container>

                  <li class="display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600"
                      >Phone:</span
                    >
                    {{ user?.phone || "--" }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container py-2">
  <div class="row">
    <div class="col-12">
      <h5 class="px-2">Posts</h5>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let post of userPosts">
      <div class="col-4 p-2">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.body }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
