<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="px-2">All Users</h3>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let user of allUsers">
      <div class="col-4 p-2">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text">
              {{ user.name }}
            </p>
            <button
              type="button"
              class="btn btn-angular mx-0"
              (click)="viewUser(user.id)"
            >
              View user
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
