/* You can add global styles to this file, and also import other style files */

:root {
  --primary-red: #f0060b;
  --secondary-red: #f0060b;
  --primary-purple: #cc26d5;
  --primary-blue: #7702ff;
}

h1,
h2,
h3,
h4,
h5 {
  background: linear-gradient(
    to right,
    var(--secondary-red),
    var(--primary-purple),
    var(--primary-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: underline;
}

a.gradient {
  background: linear-gradient(
    to right,
    var(--secondary-red),
    var(--primary-purple),
    var(--primary-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-angular {
  background-image: linear-gradient(
    to right,
    var(--primary-purple) 0%,
    var(--primary-blue) 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  color: white !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
