<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="px-2">All Posts</h3>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let post of allPosts">
      <div class="col-4 p-2">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.body }}
            </p>
            <button
              type="button"
              class="btn btn-angular"
              (click)="viewUser(post.userId)"
            >
              View user
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
